* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Verdana sans-serif;
    font-size: 16px;
}

.container {
    max-width: 320px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/
.header {
    min-height: 100%;
    background-color:#f9f5f5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.header-logo {
    width: 70px;
    height: 70px;
    display: inline-block;
    animation: logo-anim 1s linear;
}


.header-logo img {
    height: 100%;
}

@keyframes logo-anim {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {

        opacity: 1;
        transform:rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }

}

.header_menu-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header_menu-li {
    position: relative;
}


.header_menu-li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    color: #004877;
    transition: color .2s linear, transform .2s linear;
    display: block;
    padding-bottom: 5px;
}

.header_menu-li:after {
    content: '';
    width: 0px;
    height: 2px;
    background-color: #004877;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    transition: width .2s linear .3s;
    bottom: 0;
}

.header_menu-li:hover a {
    color: #004877;
    transform: translateY(-3px);
}

.header_menu-li:hover:after {
    width: 100%;
}

.header-button a{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
}

.header-button button {
    padding: 15px 35px;
    border: none;
    background-color: #a71d24;
    border-radius: 3px;
    cursor: pointer;
}



/*section description*/

.section-description {
    padding: 50px 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 100%;
    background-color: #bbbbba;
}

.section-title {
    font-size: 2.1rem;
    color: #004876;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.section-description-p {
    font-size: 1rem;
    color: #004876;
    line-height: 2rem;
    margin-bottom: 10px;
}

.section-description-p:last-child {
    margin-bottom: 0;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    max-width: 270px;
    width: 100%;
    height: 190px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #000000;
}

span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
}
span:last-child{
    margin-right: 0;
}


/*section-price*/

.section-price {
    height: 100%;
    background-color: #f8f8f8;
    padding: 50px 0;
}

.section-price-item {
    width: 290px;
    background-color: #ffffff;
    cursor: pointer;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.section-price-img {
    height: 170px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    /*min-width: 290px;*/
    margin-bottom: 20px;
}

.section-price-img img {
    width: 100%;
}

.section-price-item-content {
    margin-bottom: 15px;
}

.section-price-item-content h2, p {
    font-size: 1rem;
    color: #004876;
}

.section-price-item .header-button {
    margin-bottom: 15px;
}


/*section feedback*/

.section-feedback {
    height: 100%;
    padding: 50px 0;
    background-color: #b3b3b3;
}

.section-feedback .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.section-feedback-map {
    margin-bottom: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.section-feedback-map iframe {
    height: 285px;
    width: 285px;
}

.section-feedback-contact_us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-feedback-form {
    width: 290px;
    height: 340px;
    background-color: #f9f5f5;
    padding: 30px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.section-feedback-form .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.form-description {
    text-align: center;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: #1c2035;
}

.form-description h1 {
    font-size: 1.25rem;
}

.form-description h2 {
    font-size: 0.938rem;
    font-weight: bold;
}

.form-input {
    width: 100%;
    font-weight: lighter;
}

.form-input > * {
    width: 100%;
    padding: 15px 20px;
    border: none;
    background-color: #fff;
    font-size: 0.9375rem;
    color: #191919;
    outline: none;
}

/*section footer*/

.footer {
    height: 200px;
    background-color: #15162b;

}

.footer .container {
    padding: 20px 20px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: #a6a7ab;
    font-size: 0.938rem;
}

.footer-button {
    display: none;
    padding: 15px 20px;
    background-color: #141529;
    border-radius: 3px ;
    border-color: #a6a7ab;
    cursor: pointer;
}

.footer-button a {
    text-align: center;
    color: #a6a7ab;
    font-weight: bold;
    font-size: 0.938rem;
    text-transform: uppercase;
    text-decoration: none;
}

.popup-design {
    z-index: 20;
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 110, 143, 0.8);

    /* Making it beautiful */

}
.popup-design input[name="name"] {
    margin-top: 1rem;
}

.popup-design .form {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.popup-design .form input,
.popup-design .form textarea {
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    color: inherit;
    resize: none;
}
.popup-design .form input::placeholder,
.popup-design .form textarea::placeholder {
    color: black;
    text-align: center;
    font-family: 'Circe Bold', sans-serif;
}

.popup-design .form-description {
    margin-bottom: 1.5rem;
}
.popup-close {
    position: absolute;
    top: -3rem;
    right: -1.3rem;
    font-size: 5rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: transparent;
    color: #ffffff;
    border: none;
}
.popup-content {
    position: fixed;
    text-align: center;
    width: 270px;
    left: 50%;
    top: 20%;
    background-color: #ededed;
    border-radius: 4px;
    transform: translateX(-50%) !important;
    padding: 1rem 1rem 1rem 1rem;
}


.pageup {
    opacity: 0;
    width: 26px ;
    height: 26px;
    position: fixed;
    bottom: 100px;
    right: 5%;
    z-index: 30;
    background-color: #a71d24;
    cursor: pointer;
    border: 1px solid white;
    transition: 1s all;
}

.animated{
    animation-duration:1s;
    animation-fill-mode:both
}

@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }}

.fadeIn{
    animation-name:fadeIn
}

@keyframes fadeOut{
    from{
        opacity:1
    }
    to {
        opacity:0
    }}

.fadeOut{
    animation-name:fadeOut
}



